.PostHeader {
  height: 44px;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PostHeader-user {
  align-items: center;
  display: flex;
}

.PostHeader .rounded-image {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.PostHeader .user-name {
  padding: 10px;
}

.PostHeader .icon-position {
  justify-content: flex-end;
}
