.PostFooter {
  height: 44px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PostFooter .icon {
  align-items: center;
  display: flex;
}


.PostFooter .icn-space{
  margin-right: 10px;
}

.PostFooter .icon-position {
  justify-content: flex-end;
}

.PostFooter .icon-size {
  font-size: 25px;;
}

