.Header {
  height: 44px;
  position: fixed;
  top: 0;
  background-color: white;
  width: calc(100% - 32px);
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header .Icon {
  font-size: 24px;
}

.Header .Brand {
  font-family: 'Norican', cursive;
  font-size: 32px;
}
