.PostHeader {
  height: 44px;
  padding: 0 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PostHeader-user {
  align-items: center;
  display: flex;
}

.PostHeader .rounded-image {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.PostHeader .user-name {
  font-weight: 600;
  color: #262626;
  font-size: 14px;
}

.PostHeader .icon-position {
  justify-content: flex-end;
}

.PostHeader .user-info {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
